<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 读取数据库的配置文件 -->
    <properties resource="dbserver/dbconfig.properties">
    </properties>

    <!-- 设置别名 -->
    <typeAliases>
        <typeAlias type="dbserver.entity.UserInfoVo" alias="user"/>
    </typeAliases>

    <!-- 配置数据库 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml -->
    <mappers>
        <mapper resource="dbserver/mapper/UserMapper.xml"/>
    </mappers>
</configuration>