<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- namespace指向的是dao类的接口的包路径 -->
<mapper namespace="dbserver.dao.UserDao">
	<!-- 查找 -->
	<select id="find" parameterType="string" resultType="user">
		select username,realname,uphonenumber from User where username=#{username}
	</select>
</mapper>